@font-face{
    font-family: OratorStd;
        src: url('../font/OratorStd.otf');
}
@font-face{
    font-family: HazelutWater;
        src: url('../font/Hazelnut_Water.ttf');
}

body {
  overflow-x: hidden;
  font-family: "Roboto Slab";
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #78CEA9;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #78CEA9;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #62c69b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #78CEA9;
  border-color: #78CEA9;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #62c69b;
  border-color: #4cbe8d;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #78CEA9;
  border-color: #78CEA9;
}
.btn-primary .badge {
  color: #78CEA9;
  background-color: white;
}
.btn-xl {
  color: white;
  background-color: #78CEA9;
  border-color: #78CEA9;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: white;
  background-color: #62c69b;
  border-color: #4cbe8d;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #78CEA9;
  border-color: #78CEA9;
}
.btn-xl .badge {
  color: #78CEA9;
  background-color: white;
}
.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
    position: absolute;
    top: 0px;
    color: #78CEA9;
    font-size: 65px;
    padding: none;
    font-family: HazelutWater, "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #62c69b;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #78CEA9;
  border-color: #78CEA9;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #78CEA9;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #78CEA9;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #78CEA9;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #62c69b;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 120px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
section {
  padding: 100px 0;
}
section h3.section-subheading {
  font-size: 1.5em;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 30px;
}
#landing-page {
    background-color: #ffffff;
    background: url('../img/home/Homepage_Background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: inherit;
}
.intro-text{
    padding-top: 1em;
  padding-bottom: 50px;
}
@media (min-width: 767px){
    .intro-text{
    padding-top: 4em;
    padding-bottom: 50px;
    }
}
#landing-page .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 2.5em;
  margin-bottom: 1.5em;
}
#landing-page .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5em;
  margin-bottom: 25px;
}
#landing-page .intro-text .intro-description { 
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-transform: none;
  font-size: 1.5em;
  margin-bottom: 25px;
    margin-top: 2.5em;
    font-weight: 400;
    color: #777777;
}
#about .intro-heading{
    margin-top: 1.3em;
  font-size: 2.6em;
}
#about .modal-content .section-subheading{
    font-size: 1.7em;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 400;
}
#about .modal-content .modal-list-item{
    border-style: solid;
    border-width: .2em; 
    margin: 1em;
    border-color: #78CEA9;
    border-radius: 10px;
}
#about .conclusion-text {
  padding-top: .7em;
}
section#about{
  background-color: #ffffff;
  background: url('../img/about/Aboutpage_Background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: inherit;
}
.service-heading {
  margin: 15px 0;
  text-transform: none;
}
.about-icon {
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    border: 3px solid #78CEA9;
    height:200px;
    width:200px;
    display:inline-block;
    margin:10px;
    border-radius: 1000px;
}
.about-icon > img {
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    height:200px;
    width:200px;
}
#team {
  background-color: #222222;
  background: url('../img/team/Teampage_Background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: inherit;
}
#team .intro-heading{
    margin-top: 1.5em;
  font-size: 2.6em;
}
.team-member-row{
    text-align: center;
}
.team-member {
  text-align: center;
  margin-bottom: 0px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
@media (min-width: 767px) {
  .team-img {
    max-width: 40%;
    height:40%;
    width:40%;
    }

@media (min-width: 1440px) {
  .team-img {
    max-width: 50%;
    height:50%;
    width:50%;
    }
}
@media (min-width: 1680px) {
  .team-img {
    max-width: 70%;
    height:70%;
    width:70%;
    }
}
aside.clients img {
  margin: 50px auto;
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #78CEA9;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
::-moz-selection {
  text-shadow: none;
  background: #78CEA9;
}
::selection {
  text-shadow: none;
  background: #78CEA9;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
html, body {
  webkit-tap-highlight-color: #78CEA9;
    height: 100%;
    margin: 0;
}
nav{
    background-color: black;
}